
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'open sans';
    background-image: url("Imagen/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #FBA919;
}
.contenedor {
    margin: auto;
    width: 99%;




}

.button3 {border-radius: 8px;}
/*-------------------Estilos del header-------------------*/
.header {
    height: 60px;
}
.header .contenedor {
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu {
    margin: 5px;
    color: #fff;
}
.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*------------------Estilos del menu------------------*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link {
    display: block;
    padding: 15px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select {
    background: white;
    color: #FBA919;
}
.mostrar {
    left: 0;
}

/*--------------Estilos de banner--------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__txt {
    display: none;
}

/*-----------------Estilos de info-----------------*/
.info__columna {
    background: rgb(129, 117, 127);
    color: #fff;
    padding: 15px;

    margin-bottom: 10%;

}

/*-----------------Estilos de cursos-----------------*/
.cursos__columna {
    position: relative;
    margin-bottom: 80px;
    left: 4%;

}
.cursos__descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 80%;
    height: 103%;
    padding: 5px;
}
.cursos__titulo {
    font-size: 25px;
    margin: 5px 0;
}
.cursos__img {
    width: 70%;

}
/*-----------------Estilos de footer-----------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

/*------------------Estilos responsive------------------*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info, .cursos {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna {
        width: 32%;
    }
    .info__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titulo {
        width: 100%;
    }
    .cursos {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .cursos__columna {
        width: 49%;
    }
    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }
}
@media(min-width:768px) {
    .banner__titulo {
        font-size: 50px;
    }
    .cursos__titulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
    .section__titulo {
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .icon-menu {
        display: none;
    }
    .menu__link {
        background: none;
        font-size: 20px;
    }
    .select {
        color: #fff;
        background: #FBA919;
    }
    .banner__titulo {
        font-size: 60px;
    }
    .banner__txt {
        font-weight: bold;
        font-size: 25px;
    }
    .info {
        margin-top: -120px;
    }
    .info__columna {
        padding: 30px;
    }
    .info__titulo {
        font-size: 40px;
        text-align: center;
    }
    .cursos__descripcion {
        padding: 20px;
    }
    .cursos__titulo {
        font-size: 50px;
    }
    .cursos__txt {
        font-size: 20px;
    }
}

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    .logo {
        font-size: 60px;
    }
    .banner .contenedor {
        top: 40%;
    }
    .info {
        margin-top: -220px;
    }
}


/* /////////////////////////////////   TIPOS DE GATO ////////////////////////////////////*/

.portafolio{
    background: cornflowerblue;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin: 1%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsl(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hover-galeria img{
    width: 90px;
}
.hover-galeria p{
    color: ivory;

}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.titulo{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

/*  ///////////////// LO QUE OPINAN NUESTORS CLIENTES /////////////////////////////////// */
.clientes_contenedor ,h2{
    padding-top: 10px;
    padding-bottom: 10px;

}
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{

    background:rgb(211, 208, 208);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);

}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 10px solid springgreen;
    border-radius: 60px;
    display: block;
}

.cards .card> .contenido-texto-card{
    width: 60%;
    color: black;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* //////////////////////////// PIE DE PAGINA //////////////////////// */

footer{
    background: rgba(206, 79, 164, 0.493);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;


}
.content-foo{
    text-align: center;

}
.content-foo h4{
    color: rgb(0, 0, 0);
    border-bottom: 3px  solid springgreen;
    padding-bottom: 5px;

}

.content-foo p{
    color:snow;

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin:  20px 0 0 0;
    color: lime;
    border: 10px cornflowerblue solid;
}

/* //////////////////////////////////////////// ENCVIAR MENSAJE DE CORREO ///////////////////////////////// */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:focus{
    outline: none;
}

body{

    font-family: 'Open sans';
}

/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
    background: #4091EC;
    padding: 10px;
    border: none;
    border-radius: 25px;

    align-self: flex-end;

    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #E25151;
    color: #fff;
    border: 2px solid #B14141;
    cursor: pointer;
    float: right;
}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ////////////////////////// DOCTORES /////////////////////////////////*/

.titulodoc{
    text-align: center;
    font-size: 40px;
    color:rgb(255, 255, 255) ;
    margin-top: 100px;
    font-weight: 100;
}


.conteiner1{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}


.conteiner1 .casrd20{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: cyan;

}

.conteiner1 .casrd20:hover{
    transform: translateY(-15);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.conteiner1 .casrd20 img{
    align-content: center;
    width: 330px;
    height: 320px;
    background-image: url(Imagen/fondo\ veterinaria.jpg);

}

.conteiner1 .casrd20 h4{
    font-weight: 600;

}

.conteiner1 .casrd20 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.conteiner1 .casrd20 a{
    font-weight: 500;
    text-decoration: none;
    color: royalblue;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  ----------------------------------SECCION DE ANIMADO IMAGENES EN OVIMIENTOS-------------------------------*/

.movimiento{
    position: relative;
    width: 100%;
    height: 65vh;
    background: radial-gradient(rgba(51, 51, 51, 0.527),rgb(73, 71, 71));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    margin-bottom: 3%;
}
section h2{
    color: rgb(253, 253, 253);
    font-size: 3em;
    text-transform: uppercase;
}

section .set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}
section .set div{
    position: absolute;
    display: block;
}

section .set div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
section .set div:nth-child(2){
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(3){
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(4){
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: -0s;
}
section .set div:nth-child(5){
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
section .set div:nth-child(6){
    left: 0%;
    animation: animate 12s linear infinite;

}
section .set div:nth-child(7){
    left: 15%;
    animation: animate 14s linear infinite;

}
section .set div:nth-child(8){
    left: 60%;
    animation: animate 14s linear infinite;

}
@keyframes animate
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;

    }
    20%
    {
        transform:  translateX(-20px) rotate(45deg);
    }
    40%
    {
        transform:  translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform:  translateX(20px) rotate(180deg);
    }
    80%
    {
        transform:  translateX(-20px) rotate(180deg);
    }
    100%
    {
        top: 110%;
        transform:  translateX(-20px) rotate(180deg);
    }
}
.set2{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}
.set3{
    transform: scale(0.8) rotateY(180deg);
    filter: blur(4px);
}


